---
import Layout from '@layouts/Layout.astro';
import Typography from '@components/Typography.astro';
import { Image } from 'astro:assets';

import Accounts from '@layouts/Accounts.astro';

import icon from '@assets/icon.png';
import DescItem from '@components/DescItem.astro';
---

<Layout>
  <main>
    <section>
      <h1>caffeine.page</h1>
    </section>
    <section>
      <div class="icon-wrapper">
        <Image src={icon} class="icon" alt="my icon" />
      </div>
      <Accounts />
      <Typography>人生エンジョイ勢。合成音声キャラクターが好きです。</Typography
      >
    </section>
    <hr />
    <section>
      <h2>Profile</h2>
      <Typography>なまえ: xecua / かふぇ</Typography>
      <Typography>めあど: contact [at] caffeine [dot] page</Typography>
      <Typography indentLevel={1}>
        (pubkey:
        <a href="/key.asc">/key.asc</a> /
        <a href="https://keys.openpgp.org/search?q=contact@caffeine.page"
          >keys.openpgp.org</a
        >
        )
      </Typography>
      <Typography>しゅみ</Typography>
      <ul>
        <li>
          <DescItem>
            <span slot="title">ゲーム</span>
            <span slot="desc">
              専ら音楽ゲーム(SDVX(SV-1322-4960)/Arcaea(660416079) etc) <br />
              あとははらがみ(807301671)とかZZZ(1304020882)とかM:tG(まったり)とか
            </span>
          </DescItem>
        </li>
        <li>
          <DescItem>
            <span slot="title">プ</span>
            <span slot="desc">たまに</span>
          </DescItem>
        </li>
      </ul>
      <Typography>しかく</Typography>
      <ul>
        <li>
          <DescItem><span slot="title">基本情報処理技術者試験</span></DescItem>
        </li>
        <li>
          <DescItem
            ><span slot="title">ネットワークスペシャリスト試験</span></DescItem
          >
        </li>
        <li>
          <DescItem><span slot="title">第1級アマチュア無線技師</span></DescItem>
        </li>
        <li>
          <DescItem>
            <span slot="title">普通自動車運転免許</span>
            <span slot="desc">
              MT車の運転好きです(公道では数回しかしてないけど)
            </span>
          </DescItem>
        </li>
      </ul>
      <hr />
      <section>
        <h2>Links</h2>
        <Typography>文字</Typography>
        <ul>
          <li>
            <DescItem>
              <a href="https://xecua.hatenablog.com" slot="title">ぶろぐ</a>
              <span slot="desc">備忘録的な</span>
            </DescItem>
          </li>
          <li>
            <DescItem>
              <a href="https://diary.caffeine.page" slot="title">にっき</a>
              <span slot="desc">
                中身のない日記
                Rust製の自作ジェネレータでMarkdownから生成しています
              </span>
            </DescItem>
          </li>
          <li>
            <DescItem>
              <a href="https://trap.jp/author/xecua" slot="title">traP Blog</a>
              <span slot="desc">
                所属していたサークルの枠で書いたやつ
                黒歴史的なやつもあるけど人生自体黒歴史なので気にしないことにします
              </span>
            </DescItem>
          </li>
        </ul>
      </section>
    </section>

    <style lang="scss">
      .icon-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .icon {
        width: 25%;
        border-radius: 50%;
        height: auto;
      }
    </style>
  </main>
</Layout>
