---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon';

export interface Props {
  href?: string;
  iconName: string;
  anchorProps?: Omit<HTMLAttributes<'a'>, 'href'>;
  accountName: string;
}

const { href, iconName, anchorProps, accountName } = Astro.props;

const Wrapper = href != null ? 'a' : Fragment;
---

<Wrapper href={href} {...anchorProps}>
  <div class="card">
    <Icon name={iconName} />
    {/* <span>{accountName}</span> */}
  </div>
</Wrapper>

<style lang="scss">
  .card {
    display: flex;
    flex-direction: row;
    padding: 16px 8px;
    gap: 16px;
    justify-content: start;
  }

  a {
    color: inherit;
    cursor: pointer;
  }

  [astro-icon] {
    width: 1.5em;
    height: 1.5em;
  }
</style>
