---
import AccountCard from "@components/AccountCard.astro";

const accounts = [
  {
    href: "https://github.com/xecua",
    iconName: "mdi:github",
    accountName: "@xecua",
  },
  {
    href: "https://twitter.com/xecual",
    iconName: "mdi:twitter",
    accountName: "@xecual",
  },
  {
    href: "https://mstdn.jp/@xecua",
    accountName: "@xecua@mstdn.jp",
    anchorProps: { rel: "me" },
    iconName: "mdi:mastodon",
  },
  {
    href: "https://discord.com/users/333637329006886932",
    iconName: "ic:baseline-discord",
    accountName: "@xecua",
  },
  // {
  //   href: 'https://bsky.app/profile/caffeine.page',
  //   iconName: 'noto:blue-square',
  //   accountName: 'caffeine.page',
  // },
  {
    href: "https://mixi.social/@cine",
    iconName: "noto:letter-m",
    accountName: "@cine",
  },
  // {
  //   iconName: 'anilist',
  //   accountName: '@xecua',
  //   href: 'https://anilist.co/user/xecua',
  // },
];
---

<div class="container">
  {accounts.map((account) => <AccountCard {...account} />)}
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
</style>
