---
import github from '@/components/icons/github.svg';
import twitter from '@/components/icons/twitter.svg';
// import envelope from '@/components/icons/envelope.svg';
// import blog from '@/components/icons/blog.svg';
import mastodon from '@/components/icons/mastodon.svg';
import discord from '@/components/icons/discord.svg';
import nostr from '@/components/icons/nostr.guru.svg';
import AccountCard from '@/components/AccountCard.astro';

const accounts = [
  {
    href: 'https://github.com/xecua',
    iconSrc: github,
    accountName: '@xecua',
  },
  {
    href: 'https://twitter.com/xecual',
    iconSrc: twitter,
    accountName: '@xecual',
  },
  /* {
     iconSrc: envelope,
     accountName: 'contact①caffeine②page',
   },
  {
    href: 'https://xecua.hatenablog.com',
    iconSrc: blog,
    accountName: 'ぶろぐ',
  },
  */
  {
    iconSrc: mastodon,
    accountName: '@xecua@mstdn.jp',
    anchorProps: { rel: 'me' },
    href: 'https://mstdn.jp/@xecua',
  },
  {
    href: 'https://discord.com/users/333637329006886932',
    iconSrc: discord,
    accountName: 'xecua#8801',
  },
  {
    href: 'https://nostx.shino3.net/npub16xmzz3u8qan8zz0kjvms0ewyhuyl5za0m6j94ylvyj5ujx8jxqvqlkdnkj',
    iconSrc: nostr,
    accountName: '_@caffeine.page',
  },
  // {
  //   href: 'https://bsky.syui.cf/caffeine.page',
  //   accountName: '@caffeine.page',
  // },
  // {
  //   iconSrc: AniListIcon,
  //   accountName: '@xecua',
  //   href: 'https://anilist.co/user/xecua',
  // },
];
---

<div class="container">
  {accounts.map((account) => <AccountCard {...account} />)}
</div>

<style lang="scss">
  .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    /* gap: 8px; */

    /*
    & > :global(*) {
      flex-basis: calc(50% - 8px);
      flex-grow: 0;
    }
    & > :global(a) {
      display: inline-block;
    }
    */
  }

  /*
  @media (max-width: 768px) {
    .container {
      flex-direction: row;

      & > :global(*) {
        flex-basis: 100%;
      }
    }
  }
    */
</style>
